/**********************************************
*** GENERAL
**********************************************/

@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,600');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: #fff; /*linear-gradient(rgba(20, 20, 20, 0.4), rgba(20, 20, 20, 1));*/
  background-size: cover;
  background-position: center;
  font-family: Lato;
  font-weight: 300;
  position: relative;
  height: 100vh;
  color: black;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  overflow: hidden;
}

#player-0-panel,
#player-1-panel {
  width: 50%;
  float: left;
  height: 100vh;
  padding: 100px;
}

#dice-0 { left: 42%; }
#dice-1 { left: 58%; }

.notif-panel {
  position: absolute;
  top: 46%;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
  background: rgba(25,25,25,0.3);
  padding: 10px;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

#turn-player {
  font-family: Lato;
  font-weight: 600;
  font-size: 66px;
  color: white;
}

.title {
  position: absolute;
  left: 25%;
  right: 25%;
  padding: 20px 0;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 56px;
  font-family: 'Sigmar One', cursive;
  text-align: center;
  color: black;
}
.logo { position: absolute; }

#pig {
  top: 95px;
  left: 500px;
}

#pig-bg {
  position: absolute;
  top: 60px;
  left: 245px;
  opacity: 0.1;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 512px;
  height: 512px;
  z-index: 0;
}

#dices {
  top: 220px;
  left: 490px;
  transform: rotate(50deg);
}

.hide-panel { display: none; }

.right-panel,
.left-panel {
  width: 500px;
  height: 50%;
  float: left;
  z-index: 2;
}

.left-panel { padding: 120px 0 0 80px; }
.right-panel { padding: 120px 0 0 180px; }

.top-panel {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.bottom-panel {
  clear: both;
  width: 1000px;
  margin: 0 auto;
  padding: 90px 80px;
}

.bottom-panel h2 {
  margin-bottom: 15px;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  position: relative;
}

.bottom-panel ul {
  padding-left: 15px;
}

.left-panel label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  position: relative;
}

.right-panel label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
}

input[type=text] {
  font-size: 16px;
  font-family: 'Lato';
  color: #555;
}

.input-name {
  width: 220px;
  padding: 5px;
  margin-bottom: 15px;
}

.input-name:focus,
.input-name:active { outline: none; }

.final-score {
  padding: 5px;
  width: 220px;
}

.final-score:focus { outline: none; }

/**********************************************
*** PLAYERS
**********************************************/

.player-name {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}

.player-score {
  text-align: center;
  font-size: 80px;
  font-weight: 300;
  color: #fd7555;
  margin-bottom: 130px;
}

.active { background-color: #e1e1e1; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
  content: "\2022";
  font-size: 47px;
  position: absolute;
  color: #fd7555;
  bottom: 0px;
  right: 30px;
}

.player-current-box {
  background-color: #fff;
  width: 40%;
  min-height: 120px;
  margin: 0 auto;
  padding: 12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 9999;
}

.player-current-label {
  text-transform: uppercase;
  margin-top: 18px;
  margin-bottom: 10px;
  font-size: 14spx;
  color: black;
}

.player-current-score {
  font-size: 30px;
  color: black;
}

button {
  width: 200px;
  background: none;
  border: none;
  font-family: Lato;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-game {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-weight: 300;
  z-index: 100;
}

.btn-init {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

button:hover { font-weight: 600; }
button:focus { outline: none; }

button:hover i { margin-right: 20px; }

i {
  color: #fd7555;
  display: inline-block;
  margin-right: 15px;
  font-size: 32px;
  line-height: 1;
  vertical-align: text-top;
  margin-top: -4px;
  transition: margin 0.3s;
}

i.ion-ios-person {
  line-height: 20px;
  vertical-align: middle;
}

.btn-menu { top: 100px;}
.btn-roll { top: 403px;}
.btn-hold { top: 467px;}
.btn-resume { margin-bottom: 40px; }

.dice {
  position: absolute;
  top: 170px;
  transform: translateX(-50%);
  height: 100px;
  z-index: 98;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #fd7555; }
